* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: Inter, sans-serif;
  background-color: #efe9e1f0;
  overflow-x: hidden;
  margin: 0;
}
/* #region done */
header {
  background-color: #efe9e1;

  overflow-x: hidden;
}

.header-desc-leftside {
  display: flex;
  gap: 39px;
  align-items: center;
}

.header-desc {
  padding-top: 17px;
  display: block;
  background-image: url(images/Hero.jpg);
  background-position: center;
  /* aspect-ratio: 2/1; */
  padding-bottom: 29px;
}

.nav-desc {
  display: flex;
  align-items: center;
  background: none;

  padding: 0;
  margin: 0;
}

.nav-desc ul {
  display: flex;
  align-items: center;
  gap: 36px;
  margin: 0;
}
.nav-desc a {
  font-weight: 700;
  font-size: 15px;
  color: #ffffff;
  text-decoration: none;
}

.header-desc-btn {
  border: 1px solid #ffffff;
  border-radius: 40px;
  color: #ffffff;
  font-weight: 400;
  font-size: 17px;
  text-align: center;
  padding-block: 16px;
  width: 154px;
  text-decoration: none;
}

.header-desc-btn:hover {
  background-color: #ff081f2b;
}

.header-desc-bottom {
  color: #ffffff;
  padding-left: 80px;
}
.header-desc-title {
  font-weight: 800;
  font-size: 70px;
  margin-bottom: 16px;
}

.header-desc-text {
  font-weight: 400;
  font-size: 19px;
  margin-bottom: 34px;
}

.header-desc-button {
  background-color: #ffffff;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 40px;
  padding-block: 10px;
  border: none;
  outline: none;

  font-weight: 400;
  font-size: 17px;
  color: #000000;
  text-decoration: none;
  margin-bottom: 66px;
}

.header-desc-button img {
  width: 24px;
  height: 24px;
}

.header-desc-button:hover {
  color: #ffffff;
  background-color: #ff081f2b;
}

.header-desc-bottom-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ff081f2b;
  padding-block: 20px;
  border-radius: 40px;
}

.header-desc-bottom-item {
  margin: 0;
}

.header-desc-bottom-item:nth-child(2) {
  padding-inline: 106px;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}

.header-inner-mob {
  display: none;
}

.header-desc-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 113px;
}

.about {
  background-color: #f8f2e6;
  padding: 99px 144px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.about-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-title {
  margin-bottom: 38px;
}

.about-title-mob {
  width: 232px;
  height: 23px;
  display: none;
}

.about-title-desc {
  width: 756px;
  height: 121px;
  display: block;
  margin-bottom: 27px;
}

.about-text {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #74706d;
  margin-bottom: 118px;
}

.about-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 26px;
  flex-wrap: wrap;
}

.about-item {
  width: fit-content;
  background-color: #e0d8ce;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.about-item-content {
  width: 340px;
}

.about-item img {
  width: 50px;
  height: 50px;
}

.about-item h3 {
  font-weight: 700;
  font-size: 24px;
  color: #161c2d;
}

.about-item-text {
  font-size: 15px;
  color: #686462;
  text-align: left;
}

.learn {
  background-color: #302b27;

  border-radius: 20px;
}

.learn-inner {
  padding: 104px 0 120px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.learn h2 {
  font-weight: 600;
  font-style: italic;
  font-size: 56px;
  color: #ffffff;
  margin-bottom: 54px;
}

.learn h2 span {
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
}

.learn-feature {
  border-radius: 149px;
  background-color: #72383d;
  padding: 8px 20px;
  font-family: Inter;
  font-weight: 400;
  font-size: 20px !important;
  text-align: center;
  color: #ffffff;
  margin-bottom: 92px !important;
}

.learn-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.learn-item {
  background-color: #e0d8ce;
  border-radius: 20px;
  padding: 24px 23px 23px 34px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.learn-item img {
  width: 40.59px;
  height: 34.76px;
}

.learn-item-top {
  display: flex;
  justify-content: space-between;
}

.learn-item-top img {
  width: 75px;
  height: 73px;
}

.learn-item h3 {
  font-weight: 700;
  font-size: 20px;
  text-align: left;
  margin-bottom: 29px;
}

.learn-item-text {
  width: 211px;
  font-weight: 400;
  font-size: 15px;
  color: #686462;
  text-align: left;
  width: 100%;
}
/* #endregion */
/* #region benefits */
.benefits {
  padding: 46px 0 25px;
}

.benefits-inner {
  display: flex;
  gap: 85px;
}

.benefits-light-card {
  width: 290px;
  background-color: #e0d8ce;
  border-radius: 20px;
  padding: 29px 43px 27px 31px;
}

.benefits-light-card-title {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 21px;
}

.benefits-card-title {
  font-family: Staatliches;
  font-weight: 400;
  font-size: 28px;
}

.benefits-light-card-text {
  font-size: 15px;
  color: #686462;
}

.benefits-light-card span {
  font-weight: 700;
  font-size: 15px;
}

.benefits-light-card-bottom {
  width: 100%;
  height: 96.87px;
  position: relative;
  margin-top: 33px;
}

.benefits-light-card-bottom img {
  position: absolute;
}

.benefits-light-card-bottom img:first-child {
  left: 25px;
}

.benefits-light-card-bottom img:last-child {
  width: 100%;
  height: 100%;
}

.benefits-title {
  font-weight: 600;
  font-size: 23px;
  text-align: center;
  margin-bottom: 24px;
}

.benefits-cards {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-bottom: 30px;
}

.benefit-card {
  background-color: #e0d8ce;
  display: flex;
  align-items: end;
  gap: 13px;
  border-radius: 20px;
  padding: 34px 13px 7px 17px;
}

.benefit-card:first-child {
  background-color: #322d29;
}

.benefit-card:first-child h3 {
  color: #ffffff;
}
.benefit-card:first-child p {
  color: #ac9c8d;
}

.benefit-card h3 {
  font-weight: 500;
  font-size: 16px;
}

.benefit-card p {
  font-size: 14px;
  color: #686462;
}

.benefit-card:nth-child(even) {
  flex-direction: row-reverse;
}

.benefits-card-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 270px;
}

.benefits-card-arrow {
  width: 21px;
  height: 21px;
}

/* #endregion */

/* #region pricing */
.pricing {
  background-color: #302b27;
  border-radius: 20px;
}

.pricing-inner {
  display: flex;
  flex-direction: column;
  padding: 90px 0 157px;
}

.pricing-title {
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 51px;
}

.pricing-cards {
  display: flex;
  flex-direction: row;
  gap: 22px;
}

.pricing-card {
  color: white;
  border-radius: 20px;
  border: 1px solid #efe9e1;
}

.pricing-card-title {
  text-align: left;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
}

.pricing-card-price {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1%;
}

.pricing-card-price span:first-child {
  vertical-align: top;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -1%;
}

.pricing-card-price span:last-child {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.pricing-card-taxes {
  font-weight: 500;
  font-size: 15px;
  color: #998474;
  margin-bottom: 35px;
}

.middle {
  height: 350px;
}

.pricing-card ul {
  list-style-type: disc;
  padding-left: 10px;
}
.pricing-card li {
  position: relative;
  padding-left: 20px;

  font-weight: 500;
  font-size: 15px;
}

.pricing-card li::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #72383d;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 2px;
}

.pricing-card-part {
  padding: 33px 31px 0 29px;
  border-bottom: 1px solid #efe9e1;
}

.pricing-card-part h4 {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0%;
  margin-bottom: 10px;
}

.pricing-card-bottom {
  display: flex;
  justify-content: space-between;
  padding: 50px 30px 30px 30px;
}

.pricing-card-link {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}

.exclusive {
  background-color: #e0d8ce;
}

.exclusive h3 {
  color: #322d29;
}

.exclusive .pricing-card-price {
  color: #544f4a;
}

.exclusive .pricing-card-taxes {
  color: #848484;
}

.exclusive h4 {
  color: #000000;
}

.exclusive li {
  color: #848484;
}

.exclusive .pricing-card-link {
  color: #322d29;
}

.exclusive .pricing-card-part {
  border-bottom: 1px solid #000000;
}
/* #endregion */

/* #region reviews */
.reviews {
  position: relative;
  z-index: 2;
  background-color: #e0d8ce;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.reviews-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 116px 0 208px;
}

.reviews-title {
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  color: #151515;
  margin-bottom: 20px;
}

.reviews-text {
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  margin-bottom: 62px;
}

.reviews-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
}

.reviews-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 63px 30px 38px 38px;
  background-color: #d9d0c6;
  border-radius: 20px;
}

.review-mark {
  position: absolute;
  top: -15px;
  right: -100px;
  animation: rotate 5s linear infinite;
}

.review-person {
  margin-bottom: 24px;
}

.review-name {
  margin-bottom: 4px;
}

.review-country {
  margin-bottom: 24px;
}

.review-stars {
  margin-bottom: 40px;
}

.review-text {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  margin-bottom: 22px;
}

.review-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-bottom-last {
  position: absolute;
  bottom: 40px;
}

.review-line {
  position: relative;
  top: -9px;
}

/* #endregion */

/* #region faq */
.faq {
  background-color: #302b27;
  position: relative;
  z-index: 1;
  top: -20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.faq-inner {
  position: relative;
  padding: 178px 0 135px;
}

.faq-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.faq-title {
  position: absolute;
  top: 178px;
  left: 0;
  font-weight: 600;
  font-size: 50px;
  color: #ffffff;
  margin-bottom: 62px;
  width: 540px;
}

.faq-owner {
  width: 514px;
  height: 643px;
  position: relative;
  background-image: url(images/faq/faq-desc.png);
  background-repeat: no-repeat;
  border-radius: 20px;
  background-position: center;
  background-size: cover;
}

.faq-logo-holder {
  position: absolute;
  top: 449px;
  left: 50%;
  transform: translateX(-50%);
  width: 452px;
}

.faq-logo {
  position: absolute;
  top: 475px;
  left: 50%;
  transform: translateX(-50%);
}

.accordion {
  background-color: #302b27;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;

  transition: 0.4s;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
}

.accordion span {
  border: 1px solid #d1c7bd;
  padding: 8.4px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordion.active span {
  background-color: #72383d;
}

.accordion.active img {
  transform: rotateX(180deg);
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: #302b27;
  overflow: hidden;
  font-size: 14px;
  letter-spacing: 0%;
  color: #ffffff;
}

/* #endregion */

/* #region certificate */
.certificate {
  position: relative;
  z-index: 1;
  top: -20px;
  background-color: #dcd4c9;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.certificate-inner {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 174px 0 208px;
}

.certificate-left {
  width: 369px;
}

.certificate-img-desc {
  width: 596px;
  height: 414px;
  display: block;
}

.certificate-img-mob {
  display: none;
}
.certificate-title {
  font-weight: 700;
  font-size: 48px;
  color: #151515;
}

.certificate-title-mob {
  display: none;
}

.certificate-title-desc {
  display: block;
  margin-bottom: 34px;
}

.certificate-text {
  font-size: 15px;
  text-align: center;
  color: #686462;
}

/* #endregion */

/* #region contact */
form {
  margin-bottom: 0;
  width: 100%;
}

.form-top {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.contact-content {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  width: 100%;
  gap: 54px;
}

.contact-input {
  width: 100%;
}
.contact-input input,
.contact-input textarea {
  background-color: #292624;
  color: #efe9e1;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 13px;
  padding: 20px 0 15px 20px;
}

.contact-input input {
  height: 50px;
}

.contact-input textarea {
  height: 136px;
  resize: none; /* щоб уникнути зміни розміру textarea */
}

.message {
  position: relative;
}

.contact-inner {
  padding: 146px 0 147px;
}

.contact-top-desc {
  display: flex;
  align-items: center;
  gap: 206px;
}

.contact-top-right {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.contact-top-desc img {
  width: 72px;
  height: 49px;
}

.contact-top-right img {
  width: 206px;
  height: 35px;
}
.contact-title-mob {
  display: none;
}

.contact-img-mob {
  display: none;
}

.contact-top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 13px;
}

.contact-title {
  font-weight: 600;
  font-size: 70px;
  vertical-align: middle;
  text-transform: capitalize;
  margin-bottom: 49px;
}

/* Стиль для кнопки */
.contact-input button {
  background-color: #efe9e1;
  color: #000000;
  padding: 10px 36px;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 15px;
  right: 12px;
  border-radius: 21px;
}

.contact-input button:hover {
  opacity: 0.8; /* додатковий ефект при наведенні */
}

.contact-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  vertical-align: middle;
}

.contact-email {
  font-weight: 600;
  font-size: 30px;
  vertical-align: middle;
  text-transform: capitalize;
}

.contact-email-address {
  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  line-height: 126%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-decoration: underline;
  color: #000000;
}
/* #endregion */

/* #region footer */
.footer {
  background-color: #302b27;
  color: #ffffff;
}

.footer-inner {
  position: relative;
  padding: 111px 142px 0 162px;
}

.footer-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 51px;
}

.footer-items > :nth-last-child(2) {
  position: absolute;
  left: 578px;
}

.footer-items > :nth-last-child(1) {
  position: absolute;
  left: 578px;
  top: 181px;
}

.footer-itemname {
  font-weight: 500;
  font-size: 29px;
  margin-bottom: 15px;
}

.footer-itemname-sec {
  display: flex;
  gap: 6px;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
}

.footer-item-text {
  font-weight: 500;
  font-size: 14px;
}

.disclaimer {
  font-weight: 400;
  font-size: 10px;
  color: #ac9c8d;
  margin-bottom: 44px;
}

.footer-bottom {
  border-top: 1px solid #ac9c8d;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-inner-bottom {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links {
  display: flex;
  gap: 33px;
  align-items: center;
  padding-top: 14px;
  margin-bottom: 20px;
}

.footer-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
}

.footer-link:first-child {
  padding: 0;
}

.footer-created-at {
  font-weight: 500;
  font-size: 10px;
  padding-left: 20px;
}

/* #endregion */

.hero {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 35px 8px 21px;
  overflow-x: hidden;
  background-color: #efe9e1;
}

.logo h1 {
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: #787878;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.nav-links a:hover {
  color: #a3a3a3;
}

/* .hero {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero-content {
  text-align: center;
  color: white;
  max-width: 800px;
} */

.hero h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

.cta-button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
}

.cta-button:hover {
  background-color: #555;
}

/* Mobile View */
@media screen and (max-width: 768px) {
  .header-desc {
    display: none;
  }
  .container {
    padding-inline: 8px;
    margin: 0 auto;
  }

  .header-inner-mob {
    display: block;
    width: 100%;
    position: relative;
  }

  .menu-button {
    width: 36px;
    height: 35px;
    background-color: #8b7c67;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-toggle-icon {
    width: 18px;
    height: 18px;
  }
  .nav-links {
    position: fixed;
    top: 0;
    right: -320px;
    background-color: #f4f1eb;
    width: 66vw;
    padding: 35px 20px 32px;
    border-radius: 10px;
    transition: all 0.3s ease;
  }

  .nav-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .nav-links-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 37px;
  }

  .logo {
    height: 26px;
  }

  .nav-links.active {
    display: block;
    right: 0px;
  }

  .menu-toggle {
    display: flex;
  }

  .nav-links li {
    padding: 14px 0 14px 20px;
    background: #00000008;
    margin-bottom: 5px;
    border-radius: 10px;
  }

  .nav-links a {
    font-weight: 400;
    font-size: 18px;
    color: #787878;
  }

  .nav-footer {
    font-family: Inter;
    font-weight: 500;
    font-size: 10px;
    color: #ac9c8d;
    text-align: center;
    margin-top: 36px;
  }

  .hero {
    display: block;
    margin-bottom: 56px;
  }

  .hero-inner {
    border-radius: 20px;
    background-image: url(images/hero-bg-mob.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 273px 26px 17px 23px;
  }

  .hero-title {
    font-weight: 800;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -2px;
    color: #ffffff;
  }

  .hero-text {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.2px;
    color: #ffffff;
    margin-bottom: 20px;
  }

  .hero-button {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 3px 13px 3px 25px;
    border: 1px solid #686462;
    border-radius: 60px;
    margin-bottom: 24.88px;
  }

  .hero-button span {
    font-weight: 400;
    font-size: 12px;
    line-height: 32px;
    letter-spacing: -0.6px;
  }

  .hero-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .hero-bottom-item {
    width: 100%;
  }

  .about {
    padding: 40px 20px;
  }

  .about-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about-title {
    margin-bottom: 38px;
  }

  .about-title-mob {
    display: block;
  }

  .about-title-desc {
    display: none;
  }

  .about-text {
    font-size: 12px;
    margin-bottom: 33px;
  }

  .about-content {
    display: flex;
    flex-direction: column;
    gap: 13.2px;
  }

  .about-item {
    width: 239px;
    background-color: #e0d8ce;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about-item-content {
    width: auto;
  }

  .about-item h3 {
    font-size: 14px;
  }

  .about-item-text {
    font-size: 12px;
    text-align: center;
  }

  .icon {
    width: 29px;
    height: 29px;
    margin-bottom: 15px;
  }

  h3 {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: -0.5px;
    text-align: center;
    margin-bottom: 15px;
  }

  .about-item-text {
    font-weight: 400 !important;
    font-size: 12px !important;
    color: #686462;
    margin-right: 0;
  }

  .learn {
    background-color: #302b27;

    border-radius: 20px;
  }

  .learn-inner {
    padding: 50px 0 43px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .learn h2 {
    font-weight: 600;
    font-style: italic;
    font-size: 32px;
    color: #ffffff;
  }

  .learn h2 span {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
  }

  .learn-feature {
    font-size: 14px !important;
    margin-bottom: 28px !important;
  }

  .learn-content {
    display: flex;
    flex-direction: column;
    gap: 13px;
  }

  .learn-item {
    background-color: #e0d8ce;
    border-radius: 20px;
    padding: 24px 23px 23px 34px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .learn-item-top img {
    width: 40.59px;
    height: 34.76px;
  }

  .learn-item-top {
    display: flex;
    justify-content: space-between;
  }

  .learn-item h3 {
    font-weight: 700;
    font-size: 16px;
    text-align: left;
  }

  .learn-item-text {
    width: 211px;
    font-size: 12px;
  }
  /* #region benefits */
  .benefits {
    padding: 46px 0 25px;
  }

  .benefits-inner {
    display: block;
  }

  .benefits-light-card {
    background-color: #e0d8ce;
    border-radius: 20px;
    padding: 29px 43px 27px 31px;
  }

  .benefits-light-card-title {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 21px;
  }

  .benefits-card-title {
    font-family: Staatliches;
    font-weight: 400;
    font-size: 28px;
  }

  .benefits-light-card-text {
    font-size: 15px;
    color: #686462;
  }

  .benefits-light-card span {
    font-weight: 700;
    font-size: 15px;
  }

  .benefits-light-card-bottom {
    width: 100%;
    height: 96.87px;
    position: relative;
    margin-top: 33px;
  }

  .benefits-light-card-bottom img {
    position: absolute;
  }

  .benefits-light-card-bottom img:first-child {
    left: 25px;
  }

  .benefits-light-card-bottom img:last-child {
    width: 100%;
    height: 100%;
  }

  .benefits-content {
    margin-top: 42px;
  }

  .benefits-title {
    font-weight: 600;
    font-size: 23px;
    text-align: center;
    margin-bottom: 24px;
  }

  .benefits-cards {
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-bottom: 30px;
  }

  .benefit-card {
    background-color: #e0d8ce;
    display: flex;
    align-items: end;
    gap: 13px;
    border-radius: 20px;
    padding: 34px 13px 7px 17px;
  }

  .benefit-card:first-child {
    background-color: #322d29;
  }

  .benefit-card:first-child h3 {
    color: #ffffff;
  }
  .benefit-card:first-child p {
    color: #ac9c8d;
  }

  .benefit-card h3 {
    font-weight: 500;
    font-size: 16px;
  }

  .benefit-card p {
    font-size: 14px;
    color: #686462;
  }

  .benefit-card:nth-child(even) {
    flex-direction: row-reverse;
  }

  .benefits-card-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 270px;
  }

  .benefits-card-arrow {
    width: 21px;
    height: 21px;
  }
  /* #endregion */

  /* #region pricing */
  .pricing {
    background-color: #302b27;
    border-radius: 20px;
  }

  .pricing-inner {
    display: flex;
    flex-direction: column;
    padding: 38px 0 51px;
  }

  .pricing-title {
    font-size: 23px;
    margin-bottom: 28px;
  }

  .pricing-cards {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }

  /* #endregion */

  /* #region reviews */
  .reviews {
    position: relative;
    z-index: 2;
    background-color: #e0d8ce;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .reviews-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 44px 0 59px;
  }

  .reviews-title {
    font-size: 24px;
  }

  .reviews-text {
    font-size: 14px;
    margin-bottom: 31px;
  }

  .reviews-content {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }

  .reviews-card {
    height: fit-content;
  }

  .review-stars {
    margin-bottom: 19px;
  }

  .review-text {
    font-size: 14px;
    margin-bottom: 51px;
  }

  .review-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .review-bottom-last {
    position: static;
  }
  /* #endregion */
  /* #region faq */
  .faq {
    background-color: #302b27;
    position: relative;
    z-index: 1;
    top: -20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .faq-inner {
    padding: 64px 0 54px;
  }

  .faq-title {
    font-size: 24px;
    margin-bottom: 31px;
  }

  .faq-title-mob {
    display: block;
  }

  .faq-owner {
    width: 306px;
    height: 383px;
    margin: 0 auto;
    background-image: url(images/faq/faq.png);
  }

  .faq-logo-holder {
    position: absolute;
    top: 273px;
    left: 0;
    width: 100%;
  }

  .faq-logo {
    position: absolute;
    top: 290px;
    left: 50%;
    transform: translateX(-50%);
  }
  .accordion {
    justify-content: space-between;
    gap: 0;
    align-items: center;
  }

  .accordion.active img {
    transform: rotateX(180deg);
  }

  .panel {
    padding: 0 18px;
    display: none;
    background-color: #302b27;
    overflow: hidden;
    font-size: 14px;
    letter-spacing: 0%;
    color: #ffffff;
  }

  /* #endregion */

  /* #region certificate */
  .certificate {
    position: relative;
    z-index: 1;
    top: -20px;
    background-color: #dcd4c9;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .certificate-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0 57px;
  }

  .certificate-left {
    width: fit-content;
  }

  .certificate-img-desc {
    display: none;
  }

  .certificate-img-mob {
    display: block;
  }

  .certificate-title {
    font-size: 24px;
  }

  .certificate-title-mob {
    display: block;
    padding-top: 45px;
  }

  .certificate-title-desc {
    display: none;
  }

  .certificate-text {
    font-size: 14px;
    text-align: center;
    color: #686462;
  }

  /* #endregion */

  /* #region contact */
  form {
    margin-bottom: 43px;
  }

  .form-top {
    display: flex;
    flex-direction: column;
  }

  .contact-content {
    display: block;
  }

  .contact-img-mob {
    display: block;
  }

  .contact-title-mob {
    display: block;
  }

  .contact-top-desc {
    display: none;
  }
  .contact-input {
    width: 100%;
  }
  .contact-input input,
  .contact-input textarea {
    background-color: #292624;
    color: #efe9e1;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 13px;
    padding: 20px 0 15px 20px;
  }

  .contact-input input {
    height: 50px;
  }

  .contact-input textarea {
    height: 136px;
    resize: none; /* щоб уникнути зміни розміру textarea */
  }

  .message {
    position: relative;
  }

  .contact-inner {
    padding: 0;
    padding-left: 10px;
    padding-bottom: 57px;
  }

  .contact-top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 13px;
  }

  .contact-title {
    font-size: 32px;
  }

  /* Стиль для кнопки */
  .contact-input button {
    background-color: #efe9e1;
    color: #000000;
    padding: 10px 36px;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    right: 12px;
    border-radius: 21px;
  }

  .contact-input button:hover {
    opacity: 0.8; /* додатковий ефект при наведенні */
  }

  .contact-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    vertical-align: middle;
  }

  .contact-email {
    font-weight: 600;
    font-size: 30px;
    vertical-align: middle;
    text-transform: capitalize;
  }

  .contact-email-address {
    font-family: Inter;
    font-weight: 500;
    font-size: 18px;
    line-height: 126%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-decoration: underline;
    color: #000000;
  }
  /* #endregion */

  /* #region footer */

  .footer-inner {
    padding: 36px 15px 0 20px;
  }

  .footer-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 51px;
  }

  .footer-itemname {
    font-size: 16px;
    margin-bottom: 11px;
  }

  .footer-item-text {
    font-size: 12px;
  }

  .disclaimer {
    margin-bottom: 16px;
  }

  .footer-links {
    border-top: 1px solid #ac9c8d;
    display: flex;
    gap: 33px;
    align-items: center;
    padding-top: 14px;
    margin-bottom: 30px;
  }

  .footer-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    color: #ffffff;
  }

  .footer-link:first-child {
    padding-left: 20px;
  }

  .footer-created-at {
    font-weight: 500;
    font-size: 10px;
    padding-left: 20px;
  }

  /* #endregion */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
