* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: Inter, sans-serif;
  background-color: #efe9e1f0;
  overflow-x: hidden;
  margin: 0;
}

header {
  background-color: #efe9e1;

  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 35px 8px 21px;
  overflow-x: hidden;
  background-color: #efe9e1;
}

.logo h1 {
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: #787878;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.nav-links a:hover {
  color: #a3a3a3;
}

.hero {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero-content {
  text-align: center;
  color: white;
  max-width: 800px;
}

.hero h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

.cta-button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
}

.cta-button:hover {
  background-color: #555;
}

footer {
  background-color: #f4f1eb;
  text-align: center;
  padding: 20px;
}

/* Mobile View */
@media screen and (max-width: 768px) {
  .container {
    padding-inline: 8px;
    margin: 0 auto;
  }

  .header-inner {
    width: 100%;
    position: relative;
  }

  .menu-button {
    width: 36px;
    height: 35px;
    background-color: #8b7c67;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-toggle-icon {
    width: 18px;
    height: 18px;
  }
  .nav-links {
    position: fixed;
    top: 0;
    right: -320px;
    background-color: #f4f1eb;
    width: 66vw;
    padding: 35px 20px 32px;
    border-radius: 10px;
    transition: all 0.3s ease;
  }

  .nav-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .nav-links-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 37px;
  }

  .logo {
    height: 26px;
  }

  .nav-links.active {
    display: block;
    right: 0px;
  }

  .menu-toggle {
    display: flex;
  }

  .nav-links li {
    padding: 14px 0 14px 20px;
    background: #00000008;
    margin-bottom: 5px;
    border-radius: 10px;
  }

  .nav-links a {
    font-weight: 400;
    font-size: 18px;
    color: #787878;
  }

  .nav-footer {
    font-family: Inter;
    font-weight: 500;
    font-size: 10px;
    color: #ac9c8d;
    text-align: center;
    margin-top: 36px;
  }

  .hero {
    margin-bottom: 56px;
  }

  .hero-inner {
    border-radius: 20px;
    background-image: url(images/hero-bg-mob.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 273px 26px 17px 23px;
  }

  .hero-title {
    font-weight: 800;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -2px;
    color: #ffffff;
  }

  .hero-text {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.2px;
    color: #ffffff;
    margin-bottom: 20px;
  }

  .hero-button {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 3px 13px 3px 25px;
    border: 1px solid #686462;
    border-radius: 60px;
    margin-bottom: 24.88px;
  }

  .hero-button span {
    font-weight: 400;
    font-size: 12px;
    line-height: 32px;
    letter-spacing: -0.6px;
  }

  .hero-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .hero-bottom-item {
    width: 100%;
  }

  .about {
    background-color: #f8f2e6;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
    text-align: center;
  }

  .about-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about-title {
    margin-bottom: 38px;
  }

  .about p {
    font-weight: 600;
    font-size: 14px;
    text-align: center;
  }

  .about-content {
    display: flex;
    flex-direction: column;
    gap: 13.2px;
  }

  .about-item {
    width: 239px;
    background-color: #e0d8ce;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .icon {
    width: 29px;
    height: 29px;
    margin-bottom: 15px;
  }

  h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 34px;
    letter-spacing: -0.5px;
    text-align: center;
    margin-bottom: 15px;
  }

  .about-item-text {
    font-weight: 400 !important;
    font-size: 12px !important;
    color: #686462;
    margin-right: 0;
  }

  .learn {
    background-color: #302b27;

    border-radius: 20px;
  }

  .learn-inner {
    padding: 50px 0 43px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .learn h2 {
    font-weight: 600;
    font-style: italic;
    font-size: 32px;
    color: #ffffff;
  }

  .learn h2 span {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
  }

  .learn-feature {
    border-radius: 149px;
    background-color: #72383d;
    padding: 8px 20px;
    font-family: Inter;
    font-weight: 400;
    font-size: 14px !important;
    text-align: center;
    color: #ffffff;
    margin-bottom: 28px !important;
  }

  .learn-content {
    display: flex;
    flex-direction: column;
    gap: 13px;
  }

  .learn-item {
    background-color: #e0d8ce;
    border-radius: 20px;
    padding: 24px 23px 23px 34px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .learn-item img {
    width: 40.59px;
    height: 34.76px;
  }

  .learn-item-top {
    display: flex;
    justify-content: space-between;
  }

  .learn-item h3 {
    font-weight: 700;
    font-size: 16px;
    text-align: left;
  }

  .learn-item-text {
    width: 211px;
    font-weight: 400;
    font-size: 12px;
    color: #686462;
    text-align: left;
  }

  .benefits {
    padding: 46px 0 25px;
  }

  .benefits-light-card {
    background-color: #e0d8ce;
    border-radius: 20px;
    padding: 29px 43px 27px 31px;
  }

  .benefits-light-card-top {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 21px;
  }

  .benefits-card-title {
    font-family: Staatliches;
    font-weight: 400;
    font-size: 28px;
  }

  .benefits-light-card-text {
    font-size: 15px;
    color: #686462;
  }

  .benefits-light-card span {
    font-weight: 700;
    font-size: 15px;
  }

  .benefits-light-card-bottom {
    width: 100%;
    height: 96.87px;
    position: relative;
    margin-top: 33px;
  }

  .benefits-light-card-bottom img {
    position: absolute;
  }

  .benefits-light-card-bottom img:first-child {
    left: 25px;
  }

  .benefits-light-card-bottom img:last-child {
    width: 100%;
    height: 100%;
  }

  .benefits-title {
    font-weight: 600;
    font-size: 23px;
    text-align: center;
    margin-bottom: 24px;
  }

  .benefits-cards {
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-bottom: 30px;
  }

  .benefit-card {
    background-color: #e0d8ce;
    display: flex;
    align-items: end;
    gap: 13px;
    border-radius: 20px;
    padding: 34px 13px 7px 17px;
  }

  .benefit-card:first-child {
    background-color: #322d29;
  }

  .benefit-card:first-child h3 {
    color: #ffffff;
  }
  .benefit-card:first-child p {
    color: #ac9c8d;
  }

  .benefit-card h3 {
    font-weight: 500;
    font-size: 16px;
  }

  .benefit-card p {
    font-size: 14px;
    color: #686462;
  }

  .benefit-card:nth-child(even) {
    flex-direction: row-reverse;
  }

  .benefits-card-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 270px;
  }

  .benefits-card-arrow {
    width: 21px;
    height: 21px;
  }

  .pricing {
    background-color: #302b27;
    border-radius: 20px;
  }

  .pricing-inner {
    display: flex;
    flex-direction: column;
    padding: 38px 0 51px;
  }

  .pricing-title {
    font-weight: 700;
    font-size: 23px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 28px;
  }

  .pricing-cards {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }

  .pricing-card {
    color: white;
    border-radius: 20px;
    border: 1px solid #efe9e1;
  }

  .pricing-card-title {
    text-align: left;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
  }

  .pricing-card-price {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1%;
  }

  .pricing-card-price span:first-child {
    vertical-align: top;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -1%;
  }

  .pricing-card-price span:last-child {
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .pricing-card-taxes {
    font-weight: 500;
    font-size: 15px;
    color: #998474;
    margin-bottom: 35px;
  }

  .pricing-card ul {
    list-style-type: disc;
    padding-left: 10px;
  }
  .pricing-card li {
    position: relative;
    padding-left: 20px;

    font-weight: 500;
    font-size: 15px;
  }

  .pricing-card li::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #72383d;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 2px;
  }

  .pricing-card-part {
    padding: 33px 31px 0 29px;
    border-bottom: 1px solid #efe9e1;
  }

  .pricing-card-part h4 {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0%;
    margin-bottom: 10px;
  }

  .pricing-card-bottom {
    display: flex;
    justify-content: space-between;
    padding: 50px 30px 30px 30px;
  }

  .pricing-card-link {
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
  }

  .exclusive {
    background-color: #e0d8ce;
  }

  .exclusive h3 {
    color: #322d29;
  }

  .exclusive .pricing-card-price {
    color: #544f4a;
  }

  .exclusive .pricing-card-taxes {
    color: #848484;
  }

  .exclusive h4 {
    color: #000000;
  }

  .exclusive li {
    color: #848484;
  }

  .exclusive .pricing-card-link {
    color: #322d29;
  }

  .exclusive .pricing-card-part {
    border-bottom: 1px solid #000000;
  }

  .middle {
    height: 255px;
  }

  .reviews-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 44px 0 0;
  }

  .reviews-title {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #151515;
    margin-bottom: 20px;
  }

  .reviews-text {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    margin-bottom: 31px;
  }

  .reviews-content {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }

  .reviews-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 63px 30px 38px 38px;
    background-color: #d9d0c6;
    border-radius: 20px;
  }

  .review-mark {
    position: absolute;
    top: -15px;
    right: -100px;
    animation: rotate 5s linear infinite;
  }

  .review-person {
    margin-bottom: 24px;
  }

  .review-name {
    margin-bottom: 4px;
  }

  .review-country {
    margin-bottom: 24px;
  }

  .review-stars {
    margin-bottom: 19px;
  }

  .review-text {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    margin-bottom: 51px;
  }

 .review-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 .review-line {
  position: relative;
  top: -9px;
 }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
